.header {
    width: 100%;
    background-color: $header;
    margin: 1em 0;
    box-sizing: border-box;
    overflow: auto;

    .cart {
        &-icon {
            padding: .5em 2em;
            margin: 0 1.5em 0 0;
            float: right;
            position: relative;

            img {
                width: 1.5em;
                display: block;
            }
        }

        .icon-clicked {
            background-color: #FFFFFF;
            border-top: 1px $lightgrey solid;
            border-left: 1px $lightgrey solid;
            border-right: 1px $lightgrey solid;
            z-index: 10;
        }

        .cart-bubble {
            display: block;
            text-align: center;
            position: absolute;
            top: 7px;
            right: 47px;
            background-color: lightblue;
            border-radius: 50%;
            width: 1em;
            height: 1em;
            padding: .25em;
            font-size: 0.75em;
            color: $font1;
            z-index: 20;
        }

        .hidden {
            display: none;
        }

        .visable {
            display: block;
        }

        &-container {
            position: absolute;
            z-index: 5;
            top: 3.5em;
            right: 1.5em;
            width: 27em;
            background-color: #FFFFFF;
            border: 1px $lightgrey solid;
            padding: 1em;
            box-sizing: border-box;

            .cart-item {
                display: flex;
                &-image {
                    width: 5em;

                    img {
                        width: 100%;
                        display: block;
                    }

                }

                &-info {
                    .cart-text {
                        margin: 0 0 1em 1em;
                    }
                }
            }


        }
    }
}

@media only screen and (min-width : 60em){
    .header {

        .icon-clicked {
            border: none;
            background-color: none;
        }

        .cart {

            &-container {
                width: 20em;
                transform: none;
                right: 1.5em;

            }

            .cart-container:hover {
                display: block;
            }

            .cart-container:hover .cart-icon  {
                background-color: #FFFFFF;
                border-top: 1px $lightgrey solid;
                border-left: 1px $lightgrey solid;
                border-right: 1px $lightgrey solid;
                z-index: 10;
            }

            .cart-icon:hover + .cart-container {
                display: block;
            }

            .cart-icon:hover {
                background-color: #FFFFFF;
                border-top: 1px $lightgrey solid;
                border-left: 1px $lightgrey solid;
                border-right: 1px $lightgrey solid;
                z-index: 10;
            }
        }
    }
}
