.product {
    margin: 1em;
    max-width: 35em;

    &-image {
        width: 100%;
        img {
            display: block;
            width: 100%;
            max-width: 30em;
        }
    }

    &-info {
        margin: 2em 0;
        color: $font1;

        .product-name {
            font-weight: normal;
            margin: 1em 0;
        }

        .product-price {
            font-weight: bold;
            margin: 1em 0;
        }

        .product-description {
            color: $font2;
            margin: 2em 0;
        }

        .variant-selection {
            margin: 1em 0;

            .variant-name {
                position: relative;
                text-transform: uppercase;
                color: $font2;
                font-weight: bold;
                font-size: .9em;
                letter-spacing: .1em;
            }

            .required:after {
                top: 0;
                right: 0;
                content: "*";
                color: $required;
            }

            .variant-selection-box {
                margin: 1em 0;

                .radio-button {
                    display: inline-block;

                    input {
                        display: none;
                        width: 100%;
                        height: 100%;
                    }

                    label {
                        display: inline-block;
                        border: 1px $lightgrey solid;
                        height: 3em;
                        width: 3em;
                        // padding: .5em;
                        line-height: 3em;
                        text-align: center;
                        color: $font2;
                        font-size: .8em;
                        box-sizing: border-box;
                    }

                    input:checked + label {
                        border: 2px $darkgrey solid;
                    }
                }
            }
        }

        .add-to-cart {
            background-color: #FFFFFF;
            border: 2px $darkgrey solid;
            padding: 0.5em 1.5em;
            text-transform: uppercase;
            font-weight: bold; 
            outline: none;
        }

    }
}
@media only screen and (min-width : 40em){
    .product {
        margin: 1em auto;
    }
    
}

@media only screen and (min-width : 60em){
    .product {
        position: relative;
        display: flex;
        max-width: 60em;

        &-image {
            flex: 1 0 40%;
        }

        &-info {
            flex: 1 0 50%;
            margin: 0 2em;

            .product-name {
                margin: 0 0 1em 0;
            }

            .product-price {
                border-top: 1px $header solid;
                border-bottom: 1px $header solid;
                width: 100%;
                display: block;
                padding: .5em 0;
            }

            .variant-selection {
    
                .variant-selection-box {

                    .radio-button {
    
                        label {
                            transition: .2s ease all;
                        }
    
                        input:hover + label {
                            color: #FFFFFF;
                            background-color: $darkgrey;
                        }
                    }
                }
            }

            .add-to-cart {
                transition: .2s ease all;

                &:hover {
                    color: #FFFFFF;
                    background-color: #000000;
                }
            }
        }
    }
}